@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-mono:
    ui-monospace, Menlo, Monaco, "Segoe UI Mono", "Source Code Pro",
    "Fira Mono", monospace;
}

* {
  font-feature-settings: "ss02", "ss07", "ss08";
  font-synthesis: none;
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: var(--font-sans);
}

.cursor {
  animation-name: blink;
  animation-duration: 1s;
  animation-iteration-count: infinite;
  animation-timing-function: steps(1);
}

@keyframes blink {
  0% {
    opacity: 1;
  }
  50% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
